<ng-container>
    <mat-toolbar>
        <img src="../assets/images/icon-face.png" class="img-icon-face">
        <mat-toolbar-row class="div-textos-topbar">
            <h2>Teste de Desenvolvedor Front-end - Anota AI</h2>
            <h6 class="nome-desenvolvedor">-- Bronsilber Teixeira Santos -------------</h6>
        </mat-toolbar-row>
    </mat-toolbar>
    <form class="div-search">
        <mat-form-field style="width: 45%;" class="example-full-width">
            <input type="text" (keyup)="filtrar($event)" matInput placeholder="Pesquise por um titulo">
        </mat-form-field>
        <button matTooltip="Recarregar cards" (click)="buscarTodosCards()" mat-fab class="botao-refresh"><mat-icon>refresh</mat-icon></button>
    </form>

    <div class="div-cards">
        <mat-card *ngFor="let card of cards; let i = index" class="example-card" appearance="outlined">
            <div class="badge-container">
                <mat-icon matTooltip="Excluir Card" (click)="excluirCard(i)" matBadgeColor="accent" class="badge-icon">close</mat-icon>
            </div>
            <img mat-card-image class="img-card" src="{{ card.img }}">
            <span  [ngClass]="{
                paisagem: card.type == '1',
                flor: card.type == '2',
                pizza: card.type == '3'
              }" class="type"></span>
            <mat-card-content style="height: 100%;">
                <mat-card-title>{{card.title}}</mat-card-title>
                <p matTooltip="{{ card.description }}">{{ card.description | truncate:250 }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</ng-container>